---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/styles.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>El bosque Pomodoro</title>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    </head>
    <body>
        <Header />
        <main>
            <p class="emoji">⏱️</p>
            <p class="titulo">El bosque</p>
            <p class="introduccion">
                Un cronómetro cuenta atrás para gestionar y visualizar el tiempo empleado.
            </p>
            <section class="container-contador">
                <section class="total">
                    <div class="div-ul">
                        <ul>
                            <!-- <li>Has elegido x</li>
                            <li>Has elegido x</li>
                            <li>Has elegido x</li>
                            <li>Has elegido x</li>
                            <li>Has elegido x</li> -->
                        </ul>
                    </div>
                    <p id="minutosTotales">En total llevas 00:00 horas 🎉</p>
                </section>

                <div class="container-reloj">
                    <section class="tiempo-y-boton">
                        <p id="cronometro">30:00</p>
                        <button id="empezarBoton">Empezar</button>
                    </section>

                    <section class="botonesMinutos">
                        <!-- <button id="boton01">00:01</button>
                        <button id="boton02">00:02</button> -->
                        <button id="boton15">15:00</button>
                        <button id="boton30">30:00</button>
                        <button id="boton45">45:00</button>
                        <button id="boton60">60:00</button>
                    </section>
                </div>
            </section>
        </main>
        <Footer />
        <script is:inline src="/script.js"></script>
    </body>
</html>
